__pycache__/
.idea/
data/raw_data/kaggle_data
data/raw_data/metrica_data
data/raw_data/wyscout_data/events
data/raw_data/wyscout_data/matches
data/raw_data/wyscout_data/players.json
data/raw_data/wyscout_data/teams.json
data/old_data/
data/events_france.parquet
data/events_spain.parquet
data/events_italy.parquet
data/events_england.parquet
data/teams_france.parquet
data/teams_spain.parquet
data/teams_italy.parquet
data/teams_england.parquet
data/formations_france.parquet
data/formations_spain.parquet
data/formations_italy.parquet
data/formations_england.parquet
data/matches_france.parquet
data/matches_spain.parquet
data/matches_italy.parquet
data/matches_england.parquet
notebooks/.ipynb_checkpoints
